.container-navbar-infor{
    
    .content-navbar-infor{
        .navbar{
            background: #560e6f !important;
            .navbar-brand{
                i{
                    padding: 5px 100px;
                    font-size: 25px;
                    color: white;
                }
            }
        }
    }
}
@media only screen and (max-width: 900px){
    .container-navbar-infor{
    
        .content-navbar-infor{
            .navbar{
                background: #560e6f !important;
                .navbar-brand{
                    i{
                        padding: 5px 20px;
                        font-size: 25px;
                        color: white;
                    }
                }
            }
        }
    }
   
}